<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js" defer></script>
    <script src="main.js" defer></script>
    <title>MiniURL</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <header class="header">
                <h1>MiniURL</h1>
            </header>

            <main class="main">
                <form @submit.prevent="minify">
                    <div class="form-input-container">
                        <label for="fullUrl" class="form-label">Full URL<span style="color: red;">*</span></label>
                        <input type="url" name="fullUrl" id="fullUrl" v-model="fullUrl" class="form-input">
                    </div>
                    <div class="form-input-container">
                        <label for="shortUrl" class="form-label">Preffered URL</label>
                        <input type="text" name="shortUrl" id="shortUrl" v-model="shortUrl" class="form-input">
                    </div>
                    <button type="submit" class="btn-submit">Minifyyyyy</button>
                </form>

                <section class="messages">
                    <div v-if="apiResponse.message">
                        <p class="success">URL has been minified.</p>
                        <p><a :href="apiResponse.shortUrl" class="link" target="_blank">{{apiResponse.shortUrl}}</a></p>
                    </div>

                    <div v-if="apiResponse.error">
                        <p class="error">{{apiResponse.error}}</p>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
</html>