<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js" defer></script>
    <title>MiniURL</title>
</head>
<body>
    <div class="container">
        <h1>MiniURL</h1>
        <div class="main">
            <% if(typeof error != 'undefined'){ %>
                <div>
                    <%= error %>
                </div>
            <% } %>
        
            <% if(typeof message != 'undefined'){ %>
                <div>
                    <%= message %>
                </div>
            <% } %>

            <% if(typeof shortUrl != 'undefined'){ %>
                <div>
                    MiniURL <a href="/<%= shortUrl %>">miniurl.rajathadh.com/<%= shortUrl %></a>
                </div>
            <% } %>

            <form action="/shorten" method="POST">
                <div class="form-control">
                    <input type="url" name="fullUrl" id="fullUrl" class="input-full" placeholder="Enter URL to shorten">
                </div>
                <div class="form-control">
                    <label for="prefferedUrl" class="label-preffered">miniurl.rajathadh.com/</label>
                    <input type="text" name="prefferedUrl" id="prefferedUrl" class="input-preffered" placeholder="Preffered URL">
                </div>
                <button type="submit" class="btn-submit">Minifiii</button>
            </form>
        </div>
    </div>
</body>
</html>